body {
  height: 100vh; /* For 100% screen height */
  width: 100vw; /* For 100% screen width */
  margin: 0px;
  padding: 0px;
  align-content: center;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
#app {
  width: 100%;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 5% auto;
  grid-template-areas:
    "header"
    "views";
  background: #fff;
}
.header-container {
  grid-area: header;
  margin: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "header-text ...";
}
.header-text-container {
  grid-area: header-text;
  font-size: 20px;
  color: #555;
  font-family: Helvetica;
}
.views-container {
  margin: 10px;
  padding: 10px;
  grid-area: views;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas:
    "barcharts-view prediction-view"
    "barcharts-view prediction-view";
}
.barcharts-container {
  margin: 10px;
  padding: 10px;
  grid-area: barcharts-view;
  display: grid;
  grid-template-rows: 10% 30% 30%;
  grid-template-areas:
    "selector"
    "barchart1"
    "barchart2"
    "barchart3";
}
.instance-selector-container {
  position: relative;
  left: 80px;

  grid-area: selector;
}
.barchart1 {
  grid-area: barchart1;
}
.barchart2 {
  grid-area: barchart2;
}
.barchart3 {
  grid-area: barchart3;
}
.prediction-view-container {
  margin: 10px;
  padding: 10px;
  grid-area: prediction-view;
  display: grid;
  grid-template-rows: 5% auto;
  grid-template-areas:
    "prediction-button"
    "prediction-barchart";
}
.prediction-button-container {
  grid-area: prediction-button;
}
.prediction-barchart-container {
  margin: 10px;
  padding: 20px;
  grid-area: prediction-barchart;
}
